/*----------Add To Do (start)----------*/

.add-bar {
  max-width: 75%;
  text-align: center;
  margin: 50px auto 20px ;
}

/*----------Add To Do (end)----------*/
/*--------------------------------------------------------------------------------------*/
/*----------Filter buttons (start)----------*/
.filter-btns{
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin : 50px auto;
}
.filter-btn{
  margin: auto 10px;
}
/*----------Filter buttons (end)----------*/
/*--------------------------------------------------------------------------------------*/
/*----------My To Dos (start)----------*/

.done{
  text-decoration: line-through;
}
.bt{
  margin: 0px 2.5px;
}
.task{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}

.task-buttons{
  display: flex;
  align-content: center;
}
/*----------My To Dos (end)----------*/
/*-----------------------------------------------------------------*/
/*----------modal (start)----------*/
#modal-btns{
    display: flex;
    justify-content: space-around;
    margin: 10px 0 auto;
}
#modal-lable{
  display: flex;
  justify-content: center;
}
/*----------modal (end)----------*/





